results/
src/__pycache__/
model/__pycache__
utils/__pycache__
examples/rescaling_marching_cubes.py
examples/Test_TSDF_recon.py
examples/vdb_sdf.py
src/paths_to_point_clouds.txt
utils/paths_to_point_clouds.txt
utils/experiment_dataset.txt
utils/train.txt
utils/overfit.txt
utils/val.txt
utils/test.txt
utils/pg.py
utils/output.txt
.idea
ckpts
model/extensions/__pycache__/__init__.cpython-39.pyc
model/extensions/chamfer_dist/__pycache__/
model/extensions/chamfer_dist/build/
model/extensions/chamfer_dist/chamfer.egg-info/
model/extensions/chamfer_dist/dist/
model/extensions/cubic_feature_sampling/__pycache__/__init__.cpython-39.pyc
model/extensions/cubic_feature_sampling/build/
model/extensions/cubic_feature_sampling/cubic_feature_sampling.egg-info/
model/extensions/cubic_feature_sampling/dist/
model/extensions/gridding/__pycache__/__init__.cpython-39.pyc
model/extensions/gridding/build/
model/extensions/gridding/dist/
model/extensions/gridding/gridding.egg-info/
model/extensions/gridding_loss/build/
model/extensions/gridding_loss/dist/
model/extensions/gridding_loss/gridding_distance.egg-info/
runs
config/__pycache__
utils/paths_to_point_clouds_original.txt

*__pycache__
*__init__.py
